﻿@model GoodPlaces.ViewModels.Setup.IndexViewModel
@{
	ViewBag.Title = "Please share your favs";	
}

<h1>Share your fav</h1>

<p class="please">If you were to pick an all time favorite restaurant near within 20 miles, what would it be? <span id="select"></span></p>

@using (Html.BeginForm())
{
	<div class="panel">
	@Html.EditorFor(x => x.Recommendations[0])
	</div>

	<button class="btn btn-primary" name="connect">Continue</button><br/>
	<span class="hint">(You can always change your mind or add more later!)</span>
}

@* Sync Facebook Data, need a better way *@
<div style="background: url(@Url.Action("SyncFacebookData")); width: 1px; height: 1px"></div>

@section Head {
    <link href="~/Content/css/jquery/ui/autocomplete/jquery-ui-1.10.0.custom.css" type="text/css" rel="stylesheet" />
	<style type="text/css">
		.please {
			margin-bottom: 20px;
		}
		
		.panel {
			margin-bottom: 20px;
		}	

		.place-name {
			width: 250px;
		}

		.hint {
			display: block;
			margin-top: 5px;
			color: gray;
		}
	</style>
}

@section Scripts {
    <script src="~/scripts/jquery/ui/autocomplete/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/scripts/setup.js"></script>
}
