﻿@{
    ViewBag.Title = "Good Places | What your friends recommend";
    ViewBag.Style = "~/Content/styles/bundle-homepage";
    ViewBag.NoLogo = true;
}

<div class="logo"></div>
<p>When picking where to eat, <br/>would you trust reviews from a group of strangers <br/>or recommendations from your own friends?</p>
    
@using(Html.BeginForm("Index", "In")){
    <button class="btn btn-primary" name="connect">Sign in with Facebook</button>
}
<a href="mailto:team@GoodPlaces.es" class="questions">Questions?</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>