﻿@model GoodPlaces.ViewModels.Places.DetailsViewModel

@section Head {
	@Styles.Render("~/Content/css/details.css")
}

<h1>@Model.restaurant.Name</h1>

@if (ViewBag.CurrentUser != null)
{
    if (!ViewBag.CurrentUser.FavoritedRestaurant(Model.restaurant))
    {
        <button class="btn btn-primary" name="favorite" id="favorite-button">Favorite this restaurant!</button>
    } else {
        <p>[gp logo] this is your favorite in <strong>@Model.restaurant.Location.City</strong></p>
    }
}

<div class="well">
    <p>@Model.restaurant.Description</p>
    <p>@Model.restaurant.Location.Street<br/>
	@Model.restaurant.Location.City @Model.restaurant.Location.State @Model.restaurant.Location.Zip</p>
    <p><a href="@Model.restaurant.FoursquareUrl"><i class="icon-fs"></i></a></p>
</div>

<div class="well">
    <h2>Stats</h2>
    <dl class="dl-horizontal">
        <dt>Favorites:</dt>
        <dd>@Model.favoriteCount</dd>
        <dt>Batting Average:</dt>
        <dd>@Model.battingAverage</dd>
        <dt>Been there:</dt>
        <dd>@Model.beenThereCount</dd>
    </dl>
</div>

<div class="well">
    <h3>Friends</h3>
    <ul class="gp-friends-list inline">
        <li><img src="/Content/images/logo.png" /></li>
        <li><img src="/Content/images/logo.png" /></li>
        <li><img src="/Content/images/logo.png" /></li>
    </ul>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#favorite-button').on('click', function (event) {
                $.ajax({
                    url: '/gpapi/favorite',
                    data: {
                        'id': '@Model.restaurant.Id'
                    }
                }).done(function (result) {
                    $("#favorite-button").html("Favorited Restaurant!");
                });
            });
        });
    </script>
}
