﻿@model GoodPlaces.ViewModels.Places.IndexViewModel
@{
	ViewBag.Title = "Recommendations";
}

@section Head {
	@Styles.Render("~/Content/css/places.css")
}

@if (Model.Recommendations.HasAny)
{
	foreach (var friend in Model.Recommendations.Friends)
	{
		<div class="friend">
			<div class="avatar"><img src="@friend.Avatar" width="40" height="40" alt=""/></div>
			<div class="who"><span class="name">@friend.Name</span> recommends:</div>
			<ul class="recommendations">
				@foreach (var recommendation in friend.Recommendations){
					<li><a href="@Url.Action("Details", new {id = @recommendation.Id})"><span class="name">@recommendation.Name</span></a></li>
	}
			</ul>
		</div>	
	}
}
else
{
	<h1>Wow!</h1>
	<p>You are the first one among your friends to join Good Places. Kudos for being early adopter!</p>
}

<h1>Places Your Friends Liked on Facebook</h1>
@foreach (var city in Model.Implicit.Cities){
<div class="city">
	<h2>&rsaquo; <a href="#">@city.Name</a> <span class="count">(@city.PlacesCount likes)</span></h2>
	<div class="city-content">
		@foreach (var category in city.Categories) {
			<div class="category clearfix">
				<h3 data-id="@category.Id"><strong>@category.Name</strong></h3>

				@foreach (var like in category.Places) {
					<div class="like">
						&bull; <strong class="name"><a href="http://facebook.com/@like.Page.Id">@like.ShorterName</a></strong>
				
						<span class="minifriends">
							@foreach (var friend in like.Fans) {
								@:<span class="minifriend"><img src="@friend.Photo" width="20" height="20" style="vertical-align: middle;" title="@friend.FirstName @friend.LastName"/></span>
							}
						</span>

						@if (like.HasMiniCategory) {
							<span class="minicategory">(@like.MiniCategory)</span>
						}

					</div>
				}
			</div>
		}
	</div>
</div>
}

<h2 class="see-more hide"><span class="invisible">&rsaquo; </span><a href="#">View <span class="count"></span> more cities &#9662;</a></h2>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			var cities = $('.city');

			if (cities.length > 7)
			{
				$('.city:gt(5)').addClass('city-more');
				$('.see-more').removeClass('hide');
				$('.see-more .count').text(cities.length - 5);
			}

			$('.city h2').click(function() {
				var city = $(this).parent();
				city.toggleClass('open');

				return false;
			});

			$('.see-more').click(function() {
				$(this).hide();
				$('.city-more').removeClass('city-more');

				return false;
			});
		});
	</script>
}