﻿/* Base */
body {
	border-top: 9px solid #bd1f00;
}

p {
	margin-bottom: 15px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

h1, h2, h3 {
	line-height: 1.42;
}

label {
	font-weight: bold;
}

.clear {
    clear:both;
}