﻿/* Layout */


input.location {
	width: 150px;
}

.field-validation-error {
	color: #c10000;
	display: block;
}

.profile-image {
    float:left;
    width:200px;
    height:200px;
    margin-right: 10px; 
    border: 3px solid #973926;
    border-radius: 5px;
}

#title {
    margin-bottom:10px;
}