﻿.gp-friends-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
    border: 1px solid #973926;
    border-radius: 2px;
}

#favorite-button {
    margin-bottom: 15px;
}

.dl-horizontal dt {
    width: auto;
}

.icon-fs {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url(/Content/images/external/fs/icon-16x16.png);
  background-repeat: no-repeat;
}