﻿@media (max-width: 768px) {
	#content {
		padding: 15px;
		text-align: center;
	}

	#content br {
		display: none;
	}
}

@media (min-width: 768px) {
	#content {
		text-align: center;
		position: absolute;
		top: 50%;
		margin-top: -150px;
		width: 100%;
	}
}

.logo {
	display: inline-block;
	width: 254px;
	height: 60px;
	background: url(../images/logo.png) no-repeat center center;
	background-size: contain;
}

form {
	margin-bottom: 15px;
}

.questions {
	color: gray;
}


@media screen and (max-width:480px) {
	.btn {
		display: block;
		width: 100%;
		padding: 0.5em;
	}
}
