﻿#content, #topbar-content{
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
}

#content {
    padding-top: 20px;
}


#topbar {
	background: #F2f2f2;
	height: 70px;
	line-height: 70px;
}

	.logo {
		display: inline-block;
		float: left;
		width: 184px;
		height: 70px;
		background: url(../images/logo.png) no-repeat center center;
		background-size: contain;
	}

	.welcome {
		float: left;
		margin-left: 2em;
	}

	.signout {
		float: right;
	}

@media screen and (max-width:480px) {
	.welcome {
		display: none;
	}	
}
