﻿.friend {
	margin-top: 10px;
	margin-bottom: 20px;
}

	.friend .avatar {
		float: left;
		width: 40px;
	}

	.friend .who,
	.friend .recommendations {
		margin-left: 50px;
	}

		.friend .who {
			margin-bottom: 5px;
		}

		.friend .who .name {
			font-weight: bold;
		}

	.friend .recommendations {
		list-style-position: inside;
	}

		.friend .recommendations li {
			padding-left: 4px;
			margin-left: 0;
		}

		.friend .recommendations a:hover {
			text-decoration: none;
		}

		.friend .recommendations a:hover .name {
			text-decoration: underline;
		}

		.friend .location {
			color: #999;
		}

.city {
	
}

.city-more {
	display: none;
}

	.city h2 {
		cursor: pointer;
	}

	.city.open h2 a{
		color: #000;
	}
	
		.city .count {
			color: #999;
			font-weight: normal;
		}

	.city-content {
		display: none;
		padding-left: 1ex;
		border-left: 3px solid #CCC;
	}

	.city.open .city-content {
		display: block;
	}
	
	.city .category {
		margin-bottom: 20px;
	}
		
		.category h3 {
			margin: 0  0 10px 0;
			padding: 0;
			font-size: 100%;
			color: #BD1F00;
		}
		
		.category .like {
			margin-bottom: 10px;
		}

			.like .description {
				display: none;
			}
			
			.like .friend {
				padding-right: 0.7ex;
			}

			.like .minicategory {
				color: #999;
			}