﻿@model GoodPlaces.Model.User

@{
    ViewBag.Title = "Index";
    ViewBag.FavoriteRestaurant = Model.Recommendations.Last().Restaurant;
    ViewBag.FavoriteRestaurants = Model.Recommendations.GroupBy(r => r.Restaurant.City).Select(r => r.Last());
}

@section head{
    <meta content="@Model.Id" type="id" />
}

<div id="title">
    <img class="profile-image" src="@Model.ImageUrl" />
    <h1>@Model.FirstName's Places</h1>

@if(ViewBag.FavoriteRestaurant != null) {
    <p>@Model.FirstName's favorite restaurant in @ViewBag.FavoriteRestaurant.NiceCityState is: 
        <h2><a class="favorite" href="/places/details/@ViewBag.FavoriteRestaurant.Id">@ViewBag.FavoriteRestaurant.Name</a></h2>
    </p>
    if (ViewBag.CurrentUser != null && ViewBag.CurrentUser == Model)
    {
        <a href="/setup">Choose a different favorite restaurant.</a>
    }
}
    <div class="clear"></div>
</div>

@if(@ViewBag.CurrentUser != null) {
    if(ViewBag.FavoriteRestaurants != null)
    {
        <div class="restaurant-list-container">
            <h2>Favorites in other cities</h2>
            @foreach(var recommendation in ViewBag.FavoriteRestaurants) {
                if(@recommendation.Restaurant.Id != ViewBag.FavoriteRestaurant.Id) {
                    <p>Favorite restaurant in <strong>@recommendation.Restaurant.NiceCityState</strong> is <a href="/places/details/@recommendation.Restaurant.Id">@recommendation.Restaurant.Name</a></p>   
                }
            }
        </div>
    }
    <div class="restaurant-list-container">
        <h2>Other restaurants @Model.FirstName likes</h2>
        <ul class="restauraunt-list">
        @foreach(var recommendation in Model.Recommendations) {
            if(recommendation != null && recommendation.Restaurant != null && recommendation.Restaurant != ViewBag.FavoriteRestaurant) {
                <li><a href="/places/details/@recommendation.Restaurant.Id">@recommendation.Restaurant.Name</a> in @recommendation.Restaurant.NiceCityState</li>
            }
        }
        </ul>
    </div>
} else {
    <div class="teaser">
        <h2>See more of @Model.FirstName's favorite restaurants by logging in!</h2>
    </div>
}

@if(ViewBag.CurrentUser == null) {
    <p>If you want to see all of @Model.FirstName's (or any of your friends) favorite places to eat and hang out, connect with us!</p>
    using(Html.BeginForm("Index", "In")){
        <button class="btn btn-primary" name="connect">Connect with Facebook</button>
    }
}

