﻿@model GoodPlaces.ViewModels.Setup.Recommendation

<p class="place"><label>Favorite restaurant</label>
	@Html.TextBoxFor(x => x.Name, new { placeholder = "Name", @class="place-name"}) 
	@Html.HiddenFor(x => x.VenueId, new { @class = "place-venueid"})
	@Html.ValidationMessageFor(x => x.Name)
</p>