<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render(ViewBag.Style)
        @RenderSection("head", required: false)
		@Html.Partial("Tracking")
    </head>
	<body>
            <div id="topbar">
                <div id="topbar-content">
                    @if(!ViewBag.NoLogo) {
                        <a href="/" class="logo">&nbsp;</a>
                    }
                    @if(ViewBag.CurrentUser != null) {
                        <span class="welcome">Welcome, <a href="/profile">@ViewBag.CurrentUser.FirstName!</a></span>
                        <a href="@Url.Action("Bye", "In")" class="signout">Sign out</a>
                    }
                </div>
            </div>

		<div id="content">
			@Html.Partial("_alerts")
			@RenderBody()
		</div>
		
		@Scripts.Render("~/js")
		@RenderSection("Scripts", required: false)
	</body>
</html>

